<!DOCTYPE html>
<html layout:decorate="~{layout}">
<head>
<title>Create/Update Product</title>
</head>
<body>
	<div layout:fragment="content" class="container align-self-center">
		<div class="card">
			<div class="card-body">
				<h5 class="card-title">Product Form</h5>
				<hr>
				<form th:action="@{/product}" th:object="${product}" method="post">
					<div class="form-group mb-2">
						<label for="name">Name</label> <input type="text"
							class="form-control" id="name" th:field="*{name}"
							th:errorclass="is-invalid">
						<div class="invalid-feedback" th:if="${#fields.hasErrors('name')}"
							th:errors="*{name}"></div>
					</div>
					<div class="form-group mb-2">
                        <label for="price">Price</label> <input type="number" step="0.01"
                            class="form-control" id="price" th:field="*{price}"
                            th:errorclass="is-invalid">
                        <div class="invalid-feedback" th:if="${#fields.hasErrors('price')}"
                            th:errors="*{price}"></div>
                    </div>
					<div class="form-group mb-2">
                        <label for="quantity">Quantity</label> <input type="number"
                            class="form-control" id="price" th:field="*{quantity}"
                            th:errorclass="is-invalid">
                        <div class="invalid-feedback" th:if="${#fields.hasErrors('quantity')}"
                            th:errors="*{quantity}"></div>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                    <input type="hidden" th:field="*{id}">
				</form>
			</div>
		</div>

	</div>
</body>
</html>