<!DOCTYPE html>
<html layout:decorate="~{layout}">
<head>
<title>Create/Update User</title>
</head>
<body>
    <div layout:fragment="content" class="container align-self-center">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">User Form</h5>
                <hr>
                <form th:action="@{/user}" th:object="${user}" method="post">
                    <div class="form-group mb-2">
                        <label for="username">Username</label> <input type="text"
                            class="form-control" id="username" th:field="*{username}"
                            th:errorclass="is-invalid">
                        <div class="invalid-feedback" th:if="${#fields.hasErrors('username')}"
                            th:errors="*{username}"></div>
                    </div>
                    <div class="form-group mb-2">
                        <label for="password">Password</label> <input type="password"
                            class="form-control" id="password" th:field="*{password}"
                            th:errorclass="is-invalid">
                        <div class="invalid-feedback" th:if="${#fields.hasErrors('password')}"
                            th:errors="*{password}"></div>
                    </div>
                    <div class="form-group mb-2">
                        <label for="firstName">First Name</label> <input type="text"
                            class="form-control" id="firstName" th:field="*{firstName}"
                            th:errorclass="is-invalid">
                        <div class="invalid-feedback" th:if="${#fields.hasErrors('firstName')}"
                            th:errors="*{firstName}"></div>
                    </div>
                    <div class="form-group mb-2">
                        <label for="lastName">Last Name</label> <input type="text"
                            class="form-control" id="lastName" th:field="*{lastName}"
                            th:errorclass="is-invalid">
                        <div class="invalid-feedback" th:if="${#fields.hasErrors('lastName')}"
                            th:errors="*{lastName}"></div>
                    </div>
                    <div class="form-group mb-2">
                        <label for="email">Email</label> <input type="email"
                            class="form-control" id="email" th:field="*{email}"
                            th:errorclass="is-invalid">
                        <div class="invalid-feedback" th:if="${#fields.hasErrors('email')}"
                            th:errors="*{email}"></div>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                    <input type="hidden" th:field="*{id}">
                </form>
            </div>
        </div>
    </div>
</body>
</html>